<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>🐙 gitserve - templates/base/repo/file.html</title>
    <link rel="stylesheet" type="text/css" href="https://gitserve.mcol.xyz/style.css"/>
    <link rel="icon" type="image/png" href="https://gitserve.mcol.xyz/favicon.png"/>
  </head>

  <body>
    <a id="heada" href="https://gitserve.mcol.xyz">
      <header>
        <h1 id="title">gitserve</h1>
        <h2 id="desc">🐙 Templated web page generator for your git repositories</h2>
      </header>
    </a>

    <div id="nav">
      <span id="url">git clone <a href="https://github.com/m-col/gitserve">https://github.com/m-col/gitserve</a></span>

      <span id="links">
        <a href="https://gitserve.mcol.xyz">Home</a> |
        <a href="https://gitserve.mcol.xyz/gitserve/log.html">Log</a> |
        <a href="https://gitserve.mcol.xyz/gitserve/tree.html">Files</a> |
        <a href="https://gitserve.mcol.xyz/gitserve/refs.html">Refs</a> |
        <a href="https://gitserve.mcol.xyz/gitserve/file/README.rst.html">Readme</a> |
        <a href="https://gitserve.mcol.xyz/gitserve/file/LICENSE.html">License</a>
      </span>

      <p id="tag">
        Docs built @ <a href="https://gitserve.mcol.xyz/gitserve/commit/afedb32fd8d5e3134b4f9f05b78779bd4b7c2e27.html">afedb32</a>
      </p>
    </div>

    <div id="content">
      <p>-rw-r--r-- templates/base/repo/file.html</p><hr>

  <pre id="blob"><a href="#l1" class="line" id="l1">    1</a>  {% extends &quot;../template.html.include&quot; %}
<a href="#l2" class="line" id="l2">    2</a>  
<a href="#l3" class="line" id="l3">    3</a>  {%- block title %}{{ name }} - {{ file }}{% endblock %}
<a href="#l4" class="line" id="l4">    4</a>  
<a href="#l5" class="line" id="l5">    5</a>  {%- block content %}
<a href="#l6" class="line" id="l6">    6</a>  &lt;p&gt;{{ file.mode_symbolic }} {{ file }}&lt;/p&gt;&lt;hr&gt;
<a href="#l7" class="line" id="l7">    7</a>  
<a href="#l8" class="line" id="l8">    8</a>  {% if file.is_directory %}
<a href="#l9" class="line" id="l9">    9</a>  &lt;table&gt;
<a href="#l10" class="line" id="l10">   10</a>    &lt;thead&gt;
<a href="#l11" class="line" id="l11">   11</a>      &lt;tr&gt;
<a href="#l12" class="line" id="l12">   12</a>        &lt;td&gt;&lt;b&gt;Mode&lt;/b&gt;&lt;/td&gt;
<a href="#l13" class="line" id="l13">   13</a>        &lt;td&gt;&lt;b&gt;Name&lt;/b&gt;&lt;/td&gt;
<a href="#l14" class="line" id="l14">   14</a>      &lt;/tr&gt;
<a href="#l15" class="line" id="l15">   15</a>    &lt;/thead&gt;
<a href="#l16" class="line" id="l16">   16</a>  
<a href="#l17" class="line" id="l17">   17</a>    &lt;tbody&gt;
<a href="#l18" class="line" id="l18">   18</a>      {% for child in file.contents %}
<a href="#l19" class="line" id="l19">   19</a>      &lt;tr&gt;
<a href="#l20" class="line" id="l20">   20</a>        &lt;td&gt;{{ child.mode_symbolic }}&lt;/td&gt;
<a href="#l21" class="line" id="l21">   21</a>        &lt;td&gt;&lt;a href=&quot;{{ host }}/{{ name }}/file/{{ child.href }}&quot;&gt;{{ child.path }}&lt;/a&gt;&lt;/td&gt;
<a href="#l22" class="line" id="l22">   22</a>      &lt;/tr&gt;
<a href="#l23" class="line" id="l23">   23</a>      {% endfor %}
<a href="#l24" class="line" id="l24">   24</a>    &lt;/tbody&gt;
<a href="#l25" class="line" id="l25">   25</a>  &lt;/table&gt;
<a href="#l26" class="line" id="l26">   26</a>  {% else %}
<a href="#l27" class="line" id="l27">   27</a>    {% if file.is_binary %}
<a href="#l28" class="line" id="l28">   28</a>    (File is binary)
<a href="#l29" class="line" id="l29">   29</a>    {% else %}
<a href="#l30" class="line" id="l30">   30</a>  &lt;pre&gt;{% for line in split(file.contents, &apos;\n&apos;) %}
<a href="#l31" class="line" id="l31">   31</a>  &lt;a href=&quot;#l{{ loop.index }}&quot; class=&quot;line&quot; id=&quot;l{{ loop.index }}&quot;&gt;{{ printf(&quot;%5v&quot;, loop.index) }}&lt;/a&gt;  {{ line }}
<a href="#l32" class="line" id="l32">   32</a>  {% endfor %}&lt;/pre&gt;
<a href="#l33" class="line" id="l33">   33</a>  {% endif %}
<a href="#l34" class="line" id="l34">   34</a>  {% endif %}
<a href="#l35" class="line" id="l35">   35</a>  {% endblock %}
</pre>
      </div>
  </body>
</html>
