<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>🐙 gitserve - templates/stagit/repo/commit.html</title>
    <link rel="stylesheet" type="text/css" href="https://gitserve.mcol.xyz/style.css"/>
    <link rel="icon" type="image/png" href="https://gitserve.mcol.xyz/favicon.png"/>
  </head>

  <body>
    <a id="heada" href="https://gitserve.mcol.xyz">
      <header>
        <h1 id="title">gitserve</h1>
        <h2 id="desc">🐙 Templated web page generator for your git repositories</h2>
      </header>
    </a>

    <div id="nav">
      <span id="url">git clone <a href="https://github.com/m-col/gitserve">https://github.com/m-col/gitserve</a></span>

      <span id="links">
        <a href="https://gitserve.mcol.xyz">Home</a> |
        <a href="https://gitserve.mcol.xyz/gitserve/log.html">Log</a> |
        <a href="https://gitserve.mcol.xyz/gitserve/tree.html">Files</a> |
        <a href="https://gitserve.mcol.xyz/gitserve/refs.html">Refs</a> |
        <a href="https://gitserve.mcol.xyz/gitserve/file/README.rst.html">Readme</a> |
        <a href="https://gitserve.mcol.xyz/gitserve/file/LICENSE.html">License</a>
      </span>

      <p id="tag">
        Docs built @ <a href="https://gitserve.mcol.xyz/gitserve/commit/afedb32fd8d5e3134b4f9f05b78779bd4b7c2e27.html">afedb32</a>
      </p>
    </div>

    <div id="content">
      <p>-rw-r--r-- templates/stagit/repo/commit.html</p><hr>

  <pre id="blob"><a href="#l1" class="line" id="l1">    1</a>  {% extends &quot;../template.html.include&quot; %}
<a href="#l2" class="line" id="l2">    2</a>  
<a href="#l3" class="line" id="l3">    3</a>  {%- block title -%}
<a href="#l4" class="line" id="l4">    4</a>  {{ name }} - {{ commit.title }}
<a href="#l5" class="line" id="l5">    5</a>  {%- endblock -%}
<a href="#l6" class="line" id="l6">    6</a>  
<a href="#l7" class="line" id="l7">    7</a>  {% block body %}
<a href="#l8" class="line" id="l8">    8</a>  {% include &quot;repo-table-header.html.include&quot; %}
<a href="#l9" class="line" id="l9">    9</a>  
<a href="#l10" class="line" id="l10">   10</a>  &lt;div id=&quot;content&quot;&gt;
<a href="#l11" class="line" id="l11">   11</a>    &lt;pre&gt;&lt;b&gt;Commit&lt;/b&gt; &lt;a href=&quot;{{ host }}/{{ name }}/commit/{{ commit.id }}.html&quot;&gt;{{ commit.id }}&lt;/a&gt;
<a href="#l12" class="line" id="l12">   12</a>  &lt;b&gt;Parent:&lt;/b&gt; &lt;a href=&quot;{{ host }}/{{ name }}/commit/{{ commit.parent }}.html&quot;&gt;{{ commit.parent }}&lt;/a&gt;
<a href="#l13" class="line" id="l13">   13</a>  &lt;b&gt;Author:&lt;/b&gt; {{ commit.author }} &amp;lt;&lt;a href=&quot;mailto:{{ commit.author_email }}&quot;&gt;{{ commit.author_email }}&lt;/a&gt;&amp;gt;
<a href="#l14" class="line" id="l14">   14</a>  &lt;b&gt;Date:&lt;/b&gt; {{ commit.authored }}
<a href="#l15" class="line" id="l15">   15</a>  &lt;b&gt;Committer:&lt;/b&gt; {{ commit.committer }} &amp;lt;&lt;a href=&quot;mailto:{{ commit.committer_email }}&quot;&gt;{{ commit.committer_email }}&lt;/a&gt;&amp;gt;
<a href="#l16" class="line" id="l16">   16</a>  &lt;b&gt;Committed:&lt;/b&gt; {{ commit.committed }}
<a href="#l17" class="line" id="l17">   17</a>  
<a href="#l18" class="line" id="l18">   18</a>  {{ commit.message }}
<a href="#l19" class="line" id="l19">   19</a>  &lt;/pre&gt;
<a href="#l20" class="line" id="l20">   20</a>  &lt;/div&gt;
<a href="#l21" class="line" id="l21">   21</a>  {% endblock %}
</pre>
      </div>
  </body>
</html>
