<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>🐙 gitserve - test/templates/index.html</title>
    <link rel="stylesheet" type="text/css" href="https://gitserve.mcol.xyz/style.css"/>
    <link rel="icon" type="image/png" href="https://gitserve.mcol.xyz/favicon.png"/>
  </head>

  <body>
    <a id="heada" href="https://gitserve.mcol.xyz">
      <header>
        <h1 id="title">gitserve</h1>
        <h2 id="desc">🐙 Templated web page generator for your git repositories</h2>
      </header>
    </a>

    <div id="nav">
      <span id="url">git clone <a href="https://github.com/m-col/gitserve">https://github.com/m-col/gitserve</a></span>

      <span id="links">
        <a href="https://gitserve.mcol.xyz">Home</a> |
        <a href="https://gitserve.mcol.xyz/gitserve/log.html">Log</a> |
        <a href="https://gitserve.mcol.xyz/gitserve/tree.html">Files</a> |
        <a href="https://gitserve.mcol.xyz/gitserve/refs.html">Refs</a> |
        <a href="https://gitserve.mcol.xyz/gitserve/file/README.rst.html">Readme</a> |
        <a href="https://gitserve.mcol.xyz/gitserve/file/LICENSE.html">License</a>
      </span>

      <p id="tag">
        Docs built @ <a href="https://gitserve.mcol.xyz/gitserve/commit/b06798837a4b6c52d3de2f7addd3325769fda6a6.html">b067988</a>
      </p>
    </div>

    <div id="content">
      <p>-rw-r--r-- test/templates/index.html</p><hr>

  <pre id="blob"><a href="#l1" class="line" id="l1">    1</a>  {% extends &quot;title.html.include&quot; %}
<a href="#l2" class="line" id="l2">    2</a>  {%- block title -%}{{ host }}{%- endblock -%}
<a href="#l3" class="line" id="l3">    3</a>  {% block body %}
<a href="#l4" class="line" id="l4">    4</a>  scope: index
<a href="#l5" class="line" id="l5">    5</a>  host: {{ host }}
<a href="#l6" class="line" id="l6">    6</a>  repositories: {{ repositories }}
<a href="#l7" class="line" id="l7">    7</a>      repositories[0]: {{ repositories[0] }}
<a href="#l8" class="line" id="l8">    8</a>      repositories[0].name: {{ repositories[0].name }}
<a href="#l9" class="line" id="l9">    9</a>      repositories[0].description: {{ repositories[0].description }}
<a href="#l10" class="line" id="l10">   10</a>  {% endblock %}
</pre>
      </div>
  </body>
</html>
