{% extends "../title.html.include" -%}
{%- block title -%}{{ file }}{%- endblock -%}

{% block body %}
scope: file
file: {{ file }}
file.path: {{ file.path }}
file.href: {{ file.href }}
file.contents: {% if file.is_binary %}(binary)
{% else %}{{ file.contents }}{% endif %}
file.mode: {{ file.mode }}
file.mode_octal: {{ file.mode_octal }}
file.mode_symbolic: {{ file.mode_symbolic }}
if file.is_directory then "directory" else "file":
	{%- if file.is_directory %} "directory"{% else %} "file"{% endif %}


file scope also should have data from repo scope available:
host: {{ host }}
repos: {{ repositories }}
name: {{ name }}
description: {{ description }}
commits: (skipped)
tree: (skipped)
tags: {{ length(filter(tags, (t) -> t.name == "0.2.0")) }}
readme.path: {{ readme.path }}
license.path: {{ license.path }}
{% endblock %}
