<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>🐙 gitserve - Add license and readme template variables</title>
    <link rel="stylesheet" type="text/css" href="https://gitserve.mcol.xyz/style.css"/>
    <link rel="icon" type="image/png" href="https://gitserve.mcol.xyz/favicon.png"/>
  </head>

  <body>
    <a id="heada" href="https://gitserve.mcol.xyz">
      <header>
        <h1 id="title">gitserve</h1>
        <h2 id="desc">🐙 Templated web page generator for your git repositories</h2>
      </header>
    </a>

    <div id="nav">
      <span id="url">git clone <a href="https://github.com/m-col/gitserve">https://github.com/m-col/gitserve</a></span>

      <span id="links">
        <a href="https://gitserve.mcol.xyz">Home</a> |
        <a href="https://gitserve.mcol.xyz/gitserve/log.html">Log</a> |
        <a href="https://gitserve.mcol.xyz/gitserve/tree.html">Files</a> |
        <a href="https://gitserve.mcol.xyz/gitserve/refs.html">Refs</a> |
        <a href="https://gitserve.mcol.xyz/gitserve/file/README.rst.html">Readme</a> |
        <a href="https://gitserve.mcol.xyz/gitserve/file/LICENSE.html">License</a>
      </span>

      <p id="tag">
        Docs built @ <a href="https://gitserve.mcol.xyz/gitserve/commit/2b5e93377bab6ebf38f5e06cebdd49418093d9de.html">2b5e933</a>
      </p>
    </div>

    <div id="content">
      <pre><b>Commit</b> <a href="https://gitserve.mcol.xyz/gitserve/commit/15fe645cbfacce1f81678e412625472f01b2ca62.html">15fe645cbfacce1f81678e412625472f01b2ca62</a>
<b>Parent:</b> <a href="https://gitserve.mcol.xyz/gitserve/commit/32db3a70cb523e9cfcbf003c68891cdc3cd5f042.html">32db3a70cb523e9cfcbf003c68891cdc3cd5f042</a>
<b>Author:</b> mcol &lt;<a href="mailto:mcol@posteo.net">mcol@posteo.net</a>&gt;
<b>Date:</b> 2021-10-07 11:09:01 +0100
<b>Committer:</b> mcol &lt;<a href="mailto:mcol@posteo.net">mcol@posteo.net</a>&gt;
<b>Committed:</b> 2021-10-07 11:09:01 +0100

Add license and readme template variables
</pre><div class="diff">
  <p>
    <b>templates/index.html</b>
    <span class="status">Modified</span>
  </p>

  @@ -17,5 +17,14 @@


  <pre><span class="def"> 		&lt;p&gt;&lt;a href=&quot;./tree.html&quot;&gt;Tree&lt;/a&gt;&lt;/p&gt;
</span><span class="def"> 		&lt;p&gt;&lt;a href=&quot;./tags.html&quot;&gt;Tags&lt;/a&gt;&lt;/p&gt;
</span><span class="def"> 		&lt;p&gt;&lt;a href=&quot;./branches.html&quot;&gt;Branches&lt;/a&gt;&lt;/p&gt;
</span><span class="add">+		{% if license %}
</span><span class="add">+		&lt;p&gt;&lt;a href=&quot;{{ host }}/{{ name }}/file/{{ license.href }}&quot;&gt;License&lt;/a&gt;&lt;/p&gt;
</span><span class="add">+		{% endif %}
</span><span class="add">+		{% if readme %}
</span><span class="add">+		&lt;p&gt;&lt;a href=&quot;{{ host }}/{{ name }}/file/{{ readme.href }}&quot;&gt;Readme&lt;/a&gt;&lt;/p&gt;
</span><span class="add">+		&lt;pre&gt;
</span><span class="add">+		{{ readme.contents }}
</span><span class="add">+		&lt;/pre&gt;
</span><span class="add">+		{% endif %}
</span><span class="def">   &lt;/body&gt;
</span><span class="def"> &lt;/html&gt;
</span></pre></div><div class="diff">
  <p>
    <b>src/Types.hs</b>
    <span class="status">Modified</span>
  </p>

  @@ -15,7 +15,7 @@


  <pre><span class="def"> import Data.Text.Encoding.Error (lenientDecode)
</span><span class="def"> import Git
</span><span class="def"> import Git.Libgit2 (LgRepo)
</span><span class="sub">-import Text.Ginger.GVal (GVal, toGVal, ToGVal, asText, asHtml, asLookup, asList)
</span><span class="add">+import Text.Ginger.GVal (GVal, toGVal, ToGVal, asText, asHtml, asLookup, asList, asBoolean)
</span><span class="def"> import Text.Ginger.Html (html)
</span><span class="def"> import qualified Data.Text as T
</span><span class="def"> 
</span></pre>@@ -98,6 +98,7 @@


  <pre><span class="def">         { asHtml = html . pack . toString . treeFilePath $ treefile
</span><span class="def">         , asText = pack . show . treeFilePath $ treefile
</span><span class="def">         , asLookup = Just . treeAsLookup $ treefile
</span><span class="add">+        , asBoolean = True  -- Used for conditionally checking readme/license template variables.
</span><span class="def">         }
</span><span class="def"> 
</span><span class="def"> instance ToGVal m TreeFileContents where
</span></pre></div><div class="diff">
  <p>
    <b>src/Repositories.hs</b>
    <span class="status">Modified</span>
  </p>

  @@ -14,7 +14,7 @@


  <pre><span class="def"> import Control.Monad.Trans.Reader (ReaderT)
</span><span class="def"> import Data.Either (fromRight)
</span><span class="def"> import Data.Tagged
</span><span class="sub">-import Data.Text (pack, unpack, Text, isPrefixOf, stripPrefix)
</span><span class="add">+import Data.Text (pack, unpack, Text, isPrefixOf, stripPrefix, toLower)
</span><span class="def"> import Data.Text.Encoding (decodeUtf8With)
</span><span class="def"> import Data.Text.Encoding.Error (lenientDecode)
</span><span class="def"> import Data.Maybe (mapMaybe, catMaybes, fromJust)
</span></pre>@@ -118,6 +118,8 @@


  <pre><span class="def">     , (&quot;tree&quot;, toGVal tree)
</span><span class="def">     , (&quot;tags&quot;, toGVal tags)
</span><span class="def">     , (&quot;branches&quot;, toGVal branches)
</span><span class="add">+    , (&quot;readme&quot;, toGVal . findFile &quot;readme&quot; $ tree)
</span><span class="add">+    , (&quot;license&quot;, toGVal . findFile &quot;license&quot; $ tree)
</span><span class="def">     ]
</span><span class="def"> 
</span><span class="def"> {-
</span></pre>@@ -153,6 +155,16 @@


  <pre><span class="def"> getEntryModes (CommitEntry _) = return ModeSubmodule
</span><span class="def"> 
</span><span class="def"> {-
</span><span class="add">+Find a file in the tree starting with the specified prefix. The prefix is looked for on
</span><span class="add">+the full path, so will only find files in the top level directory.
</span><span class="add">+-}
</span><span class="add">+findFile :: Text -&gt; [TreeFile] -&gt; Maybe TreeFile
</span><span class="add">+findFile _ [] = Nothing
</span><span class="add">+findFile prefix (f:fs) = if (isReadme f) then (Just f) else (findFile prefix fs)
</span><span class="add">+  where
</span><span class="add">+    isReadme = isPrefixOf prefix . toLower . decodeUtf8With lenientDecode . treeFilePath
</span><span class="add">+
</span><span class="add">+{-
</span><span class="def"> Collect information about references. TODO: Find a more canonical way to split
</span><span class="def"> references into tags or branches rather than filtering the refnames.
</span><span class="def"> -}
</span></pre></div><div class="diff">
  <p>
    <b>README.rst</b>
    <span class="status">Modified</span>
  </p>

  @@ -35,8 +35,8 @@


  <pre><span class="def"> 
</span><span class="def"> [x] Generate html file per commit with commit scope
</span><span class="def"> [x] Generate html file per tree file with file scope
</span><span class="sub">-[ ] Expose readme url in repo scope for convenient hyperlinking
</span><span class="sub">-[ ] Expose license url in repo scope for convenient hyperlinking
</span><span class="add">+[x] Expose readme url in repo scope for convenient hyperlinking
</span><span class="add">+[x] Expose license url in repo scope for convenient hyperlinking
</span><span class="def"> [x] Expose repo branches and tags in repo scope
</span><span class="def"> [ ] Commit diffs
</span><span class="def"> [x] Tree entry filemodes
</span></pre></div>    </div>
  </body>
</html>
