<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>🐙 gitserve - More improvements to templating</title>
    <link rel="stylesheet" type="text/css" href="https://gitserve.mcol.xyz/style.css"/>
    <link rel="icon" type="image/png" href="https://gitserve.mcol.xyz/favicon.png"/>
  </head>

  <body>
    <a id="heada" href="https://gitserve.mcol.xyz">
      <header>
        <h1 id="title">gitserve</h1>
        <h2 id="desc">🐙 Templated web page generator for your git repositories</h2>
      </header>
    </a>

    <div id="nav">
      <span id="url">git clone <a href="https://github.com/m-col/gitserve">https://github.com/m-col/gitserve</a></span>

      <span id="links">
        <a href="https://gitserve.mcol.xyz">Home</a> |
        <a href="https://gitserve.mcol.xyz/gitserve/log.html">Log</a> |
        <a href="https://gitserve.mcol.xyz/gitserve/tree.html">Files</a> |
        <a href="https://gitserve.mcol.xyz/gitserve/refs.html">Refs</a> |
        <a href="https://gitserve.mcol.xyz/gitserve/file/README.rst.html">Readme</a> |
        <a href="https://gitserve.mcol.xyz/gitserve/file/LICENSE.html">License</a>
      </span>

      <p id="tag">
        Docs built @ <a href="https://gitserve.mcol.xyz/gitserve/commit/5faaffe51bf89fe94ab7a8fd1efab397d06ce0f7.html">5faaffe</a>
      </p>
    </div>

    <div id="content">
      <pre><b>Commit</b> <a href="https://gitserve.mcol.xyz/gitserve/commit/a4bf6a6922ecae0eafca619e9e972335d6c32d13.html">a4bf6a6922ecae0eafca619e9e972335d6c32d13</a>
<b>Parent:</b> <a href="https://gitserve.mcol.xyz/gitserve/commit/0ba12e9f3d08a6875f5cd746bfe6f67da6e22641.html">0ba12e9f3d08a6875f5cd746bfe6f67da6e22641</a>
<b>Author:</b> mcol &lt;<a href="mailto:mcol@posteo.net">mcol@posteo.net</a>&gt;
<b>Date:</b> 2021-11-21 19:45:02 +0000
<b>Committer:</b> mcol &lt;<a href="mailto:mcol@posteo.net">mcol@posteo.net</a>&gt;
<b>Committed:</b> 2021-11-21 19:45:02 +0000

More improvements to templating
</pre><div class="diff">
  <p>
    <b>templates/tree.html</b>
    <span class="status">Modified</span>
  </p>

  @@ -1,27 +1,29 @@


  <pre><span class="sub">-{% include &quot;template.html.include&quot; %}
</span><span class="add">+{% extends &quot;template.html.include&quot; %}
</span><span class="def"> 
</span><span class="sub">-{% block title %}Tree{% endblock %}
</span><span class="add">+{%- block title -%}
</span><span class="add">+{{ name }} - target
</span><span class="add">+{%- endblock -%}
</span><span class="def"> 
</span><span class="def"> {% block body %}
</span><span class="def"> {% include &quot;repo-table-header.html.include&quot; %}
</span><span class="def"> 
</span><span class="def"> &lt;div id=&quot;content&quot;&gt;
</span><span class="sub">-	&lt;table id=&quot;files&quot;&gt;
</span><span class="sub">-		&lt;thead&gt;
</span><span class="sub">-			&lt;tr&gt;
</span><span class="sub">-				&lt;td&gt;&lt;b&gt;Mode&lt;/b&gt;&lt;/td&gt;
</span><span class="sub">-				&lt;td&gt;&lt;b&gt;Name&lt;/b&gt;&lt;/td&gt;
</span><span class="sub">-			&lt;/tr&gt;
</span><span class="sub">-		&lt;/thead&gt;
</span><span class="add">+  &lt;table id=&quot;files&quot;&gt;
</span><span class="add">+    &lt;thead&gt;
</span><span class="add">+      &lt;tr&gt;
</span><span class="add">+        &lt;td&gt;&lt;b&gt;Mode&lt;/b&gt;&lt;/td&gt;
</span><span class="add">+        &lt;td&gt;&lt;b&gt;Name&lt;/b&gt;&lt;/td&gt;
</span><span class="add">+      &lt;/tr&gt;
</span><span class="add">+    &lt;/thead&gt;
</span><span class="def"> 
</span><span class="sub">-		&lt;tbody&gt;
</span><span class="sub">-			{% for file in tree %}
</span><span class="sub">-			&lt;tr&gt;
</span><span class="sub">-				&lt;td&gt;{{ file.mode_symbolic }}&lt;/td&gt;
</span><span class="sub">-				&lt;td&gt;&lt;a href=&quot;{{ host }}/{{ name }}/file/{{ file.href }}&quot;&gt;{{ file.path }}&lt;/a&gt;&lt;/td&gt;
</span><span class="sub">-			&lt;/tr&gt;
</span><span class="sub">-			{% endfor %}
</span><span class="sub">-		&lt;/tbody&gt;
</span><span class="sub">-	&lt;/table&gt;
</span><span class="add">+    &lt;tbody&gt;
</span><span class="add">+      {% for file in tree %}
</span><span class="add">+      &lt;tr&gt;
</span><span class="add">+        &lt;td&gt;{{ file.mode_symbolic }}&lt;/td&gt;
</span><span class="add">+        &lt;td&gt;&lt;a href=&quot;{{ host }}/{{ name }}/file/{{ file.href }}&quot;&gt;{{ file.path }}&lt;/a&gt;&lt;/td&gt;
</span><span class="add">+      &lt;/tr&gt;
</span><span class="add">+      {% endfor %}
</span><span class="add">+    &lt;/tbody&gt;
</span><span class="add">+  &lt;/table&gt;
</span><span class="def"> &lt;/div&gt;
</span><span class="def"> {% endblock %}
</span></pre></div><div class="diff">
  <p>
    <b>templates/template.html.include</b>
    <span class="status">Modified</span>
  </p>

  @@ -4,11 +4,12 @@


  <pre><span class="def">     &lt;meta charset=&quot;utf-8&quot;&gt;
</span><span class="def">     &lt;meta http-equiv=&quot;x-ua-compatible&quot; content=&quot;ie=edge&quot;&gt;
</span><span class="def">     &lt;meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1&quot;&gt;
</span><span class="sub">-    &lt;title&gt;{{ name }} - {% block title %}{% endblock %}&lt;/title&gt;
</span><span class="add">+    &lt;title&gt;{% block title %}{% endblock %}&lt;/title&gt;
</span><span class="def">     &lt;link rel=&quot;stylesheet&quot; type=&quot;text/css&quot; href=&quot;{{ host }}/style.css&quot;/&gt;
</span><span class="def">     &lt;link rel=&quot;icon&quot; type=&quot;image/png&quot; href=&quot;/favicon.png&quot;/&gt;
</span><span class="def">   &lt;/head&gt;
</span><span class="def">   &lt;body&gt;
</span><span class="add">+
</span><span class="def">   {% block body %}
</span><span class="def">   {% endblock %}
</span><span class="def">   &lt;/body&gt;
</span></pre></div><div class="diff">
  <p>
    <b>templates/repo-table-header.html.include</b>
    <span class="status">Modified</span>
  </p>

  @@ -15,8 +15,8 @@


  <pre><span class="def">   &lt;tr class=&quot;url&quot;&gt;&lt;td&gt;git clone &lt;a href=&quot;{{ host }}/{{ name }}&quot;&gt;{{ host }}/{{ name }}&lt;/a&gt;&lt;/td&gt;&lt;/tr&gt;
</span><span class="def">   &lt;tr&gt;&lt;td&gt;
</span><span class="def">     &lt;a href=&quot;{{ host }}/{{ name }}/tree.html&quot;&gt;Files&lt;/a&gt; | &lt;a href=&quot;{{ host }}/{{ name }}/refs.html&quot;&gt;Refs&lt;/a&gt;
</span><span class="sub">-    {% if readme %} | &lt;a href=&quot;{{ readme.href }}&quot;&gt;Readme&lt;/a&gt;{% endif %}
</span><span class="sub">-    {% if license %} | &lt;a href=&quot;{{ license.href }}&quot;&gt;License&lt;/a&gt;{% endif %}
</span><span class="add">+    {% if readme %} | &lt;a href=&quot;{{ host }}/{{ name }}/file/{{ readme.href }}&quot;&gt;Readme&lt;/a&gt;{% endif %}
</span><span class="add">+    {% if license %} | &lt;a href=&quot;{{ host }}/{{ name }}/file/{{ license.href }}&quot;&gt;License&lt;/a&gt;{% endif %}
</span><span class="def">   &lt;/td&gt;&lt;/tr&gt;
</span><span class="def"> &lt;/table&gt;
</span><span class="def"> &lt;hr&gt;
</span></pre></div><div class="diff">
  <p>
    <b>templates/refs.html</b>
    <span class="status">Modified</span>
  </p>

  @@ -1,35 +1,37 @@


  <pre><span class="sub">-{% include &quot;template.html.include&quot; %}
</span><span class="add">+{% extends &quot;template.html.include&quot; %}
</span><span class="def"> 
</span><span class="sub">-{% block title %}Refs{% endblock %}
</span><span class="add">+{%- block title -%}
</span><span class="add">+{{ name }} - Refs
</span><span class="add">+{%- endblock -%}
</span><span class="def"> 
</span><span class="def"> {% block body %}
</span><span class="def"> {% include  &quot;repo-table-header.html.include&quot; %}
</span><span class="def"> 
</span><span class="def"> &lt;div id=&quot;content&quot;&gt;
</span><span class="sub">-	&lt;h2&gt;Branches&lt;/h2&gt;
</span><span class="sub">-	&lt;table id=&quot;branches&quot;&gt;
</span><span class="sub">-		&lt;thead&gt;
</span><span class="sub">-			&lt;tr&gt;&lt;td&gt;&lt;b&gt;Name&lt;/b&gt;&lt;/td&gt;&lt;td&gt;&lt;b&gt;Last commit date&lt;/b&gt;&lt;/td&gt;&lt;td&gt;&lt;b&gt;Last commit&lt;/b&gt;&lt;/td&gt;&lt;td&gt;&lt;b&gt;Author&lt;/b&gt;&lt;/td&gt;&lt;/tr&gt;
</span><span class="sub">-		&lt;/thead&gt;
</span><span class="sub">-		&lt;tbody&gt;
</span><span class="sub">-			{% for branch in branches %}
</span><span class="sub">-			&lt;tr&gt;&lt;td&gt;{{ branch.name }}&lt;/td&gt;&lt;td&gt;{{ branch.authored }}&lt;/td&gt;&lt;td&gt;{{ branch.title }}&lt;/td&gt;&lt;td&gt;{{ branch.author }}&lt;/td&gt;&lt;/tr&gt;
</span><span class="sub">-			{% endfor %}
</span><span class="sub">-		&lt;/tbody&gt;
</span><span class="sub">-	&lt;/table&gt;
</span><span class="add">+  &lt;h2&gt;Branches&lt;/h2&gt;
</span><span class="add">+  &lt;table id=&quot;branches&quot;&gt;
</span><span class="add">+    &lt;thead&gt;
</span><span class="add">+      &lt;tr&gt;&lt;td&gt;&lt;b&gt;Name&lt;/b&gt;&lt;/td&gt;&lt;td&gt;&lt;b&gt;Last commit date&lt;/b&gt;&lt;/td&gt;&lt;td&gt;&lt;b&gt;Last commit&lt;/b&gt;&lt;/td&gt;&lt;td&gt;&lt;b&gt;Author&lt;/b&gt;&lt;/td&gt;&lt;/tr&gt;
</span><span class="add">+    &lt;/thead&gt;
</span><span class="add">+    &lt;tbody&gt;
</span><span class="add">+      {% for branch in branches %}
</span><span class="add">+      &lt;tr&gt;&lt;td&gt;{{ branch.name }}&lt;/td&gt;&lt;td&gt;{{ branch.authored }}&lt;/td&gt;&lt;td&gt;{{ branch.title }}&lt;/td&gt;&lt;td&gt;{{ branch.author }}&lt;/td&gt;&lt;/tr&gt;
</span><span class="add">+      {% endfor %}
</span><span class="add">+    &lt;/tbody&gt;
</span><span class="add">+  &lt;/table&gt;
</span><span class="def"> 
</span><span class="sub">-	&lt;br&gt;
</span><span class="add">+  &lt;br&gt;
</span><span class="def"> 
</span><span class="sub">-	&lt;h2&gt;Tags&lt;/h2&gt;
</span><span class="sub">-	&lt;table id=&quot;tags&quot;&gt;
</span><span class="sub">-		&lt;thead&gt;
</span><span class="sub">-			&lt;tr&gt;&lt;td&gt;&lt;b&gt;Name&lt;/b&gt;&lt;/td&gt;&lt;td&gt;&lt;b&gt;Last commit date&lt;/b&gt;&lt;/td&gt;&lt;td&gt;&lt;b&gt;Last commit&lt;/b&gt;&lt;/td&gt;&lt;td&gt;&lt;b&gt;Author&lt;/b&gt;&lt;/td&gt;&lt;/tr&gt;
</span><span class="sub">-		&lt;/thead&gt;
</span><span class="sub">-		&lt;tbody&gt;
</span><span class="sub">-			{% for tag in tags %}
</span><span class="sub">-			&lt;tr&gt;&lt;td&gt;{{ tag.name }}&lt;/td&gt;&lt;td&gt;{{ tag.authored }}&lt;/td&gt;&lt;td&gt;{{ tag.title }}&lt;/td&gt;&lt;td&gt;{{ tag.author }}&lt;/td&gt;&lt;/tr&gt;
</span><span class="sub">-			{% endfor %}
</span><span class="sub">-		&lt;/tbody&gt;
</span><span class="sub">-	&lt;/table&gt;
</span><span class="add">+  &lt;h2&gt;Tags&lt;/h2&gt;
</span><span class="add">+  &lt;table id=&quot;tags&quot;&gt;
</span><span class="add">+    &lt;thead&gt;
</span><span class="add">+      &lt;tr&gt;&lt;td&gt;&lt;b&gt;Name&lt;/b&gt;&lt;/td&gt;&lt;td&gt;&lt;b&gt;Last commit date&lt;/b&gt;&lt;/td&gt;&lt;td&gt;&lt;b&gt;Last commit&lt;/b&gt;&lt;/td&gt;&lt;td&gt;&lt;b&gt;Author&lt;/b&gt;&lt;/td&gt;&lt;/tr&gt;
</span><span class="add">+    &lt;/thead&gt;
</span><span class="add">+    &lt;tbody&gt;
</span><span class="add">+      {% for tag in tags %}
</span><span class="add">+      &lt;tr&gt;&lt;td&gt;{{ tag.name }}&lt;/td&gt;&lt;td&gt;{{ tag.authored }}&lt;/td&gt;&lt;td&gt;{{ tag.title }}&lt;/td&gt;&lt;td&gt;{{ tag.author }}&lt;/td&gt;&lt;/tr&gt;
</span><span class="add">+      {% endfor %}
</span><span class="add">+    &lt;/tbody&gt;
</span><span class="add">+  &lt;/table&gt;
</span><span class="def"> &lt;/div&gt;
</span><span class="def"> {% endblock %}
</span></pre></div><div class="diff">
  <p>
    <b>templates/index.html</b>
    <span class="status">Modified</span>
  </p>

  @@ -1,25 +1,27 @@


  <pre><span class="sub">-{% include &quot;template.html.include&quot; %}
</span><span class="add">+{% extends &quot;template.html.include&quot; %}
</span><span class="def"> 
</span><span class="sub">-{% block title %}{{ description }}{% endblock %}
</span><span class="add">+{%- block title -%}
</span><span class="add">+{{ description }}
</span><span class="add">+{%- endblock -%}
</span><span class="def"> 
</span><span class="def"> {% block body %}
</span><span class="def"> {% include &quot;repo-table-header.html.include&quot; %}
</span><span class="def"> 
</span><span class="def"> &lt;div id=&quot;content&quot;&gt;
</span><span class="sub">-	&lt;table id=&quot;log&quot;&gt;
</span><span class="sub">-		&lt;thead&gt;
</span><span class="sub">-			&lt;tr&gt;
</span><span class="sub">-				&lt;td&gt;&lt;b&gt;Date&lt;/b&gt;&lt;/td&gt;
</span><span class="sub">-				&lt;td&gt;&lt;b&gt;Commit message&lt;/b&gt;&lt;/td&gt;
</span><span class="sub">-				&lt;td&gt;&lt;b&gt;Author&lt;/b&gt;&lt;/td&gt;
</span><span class="sub">-			&lt;/tr&gt;
</span><span class="sub">-		&lt;/thead&gt;
</span><span class="add">+  &lt;table id=&quot;log&quot;&gt;
</span><span class="add">+    &lt;thead&gt;
</span><span class="add">+      &lt;tr&gt;
</span><span class="add">+        &lt;td&gt;&lt;b&gt;Date&lt;/b&gt;&lt;/td&gt;
</span><span class="add">+        &lt;td&gt;&lt;b&gt;Commit message&lt;/b&gt;&lt;/td&gt;
</span><span class="add">+        &lt;td&gt;&lt;b&gt;Author&lt;/b&gt;&lt;/td&gt;
</span><span class="add">+      &lt;/tr&gt;
</span><span class="add">+    &lt;/thead&gt;
</span><span class="def"> 
</span><span class="sub">-		&lt;tbody&gt;
</span><span class="sub">-			{% for commit in commits[:50] %}
</span><span class="sub">-			&lt;tr&gt;&lt;td&gt;{{ commit.authored[:16] }}&lt;/td&gt;&lt;td&gt;&lt;a href=&quot;commits/{{ commit.id }}.html&quot;&gt;{{ commit.title }}&lt;/a&gt;&lt;/td&gt;&lt;td&gt;{{ commit.author }}&lt;/td&gt;&lt;/tr&gt;
</span><span class="sub">-			{% endfor %}
</span><span class="sub">-		&lt;/tbody&gt;
</span><span class="sub">-	&lt;/table&gt;
</span><span class="add">+    &lt;tbody&gt;
</span><span class="add">+      {% for commit in commits[:50] %}
</span><span class="add">+      &lt;tr&gt;&lt;td&gt;{{ commit.authored[:16] }}&lt;/td&gt;&lt;td&gt;&lt;a href=&quot;commit/{{ commit.id }}.html&quot;&gt;{{ commit.title }}&lt;/a&gt;&lt;/td&gt;&lt;td&gt;{{ commit.author }}&lt;/td&gt;&lt;/tr&gt;
</span><span class="add">+      {% endfor %}
</span><span class="add">+    &lt;/tbody&gt;
</span><span class="add">+  &lt;/table&gt;
</span><span class="def"> &lt;/div&gt;
</span><span class="def"> {% endblock %}
</span></pre></div><div class="diff">
  <p>
    <b>templates/index-main.html</b>
    <span class="status">Modified</span>
  </p>

  @@ -1,26 +1,28 @@


  <pre><span class="sub">-{% include &quot;template.html.include&quot; %}
</span><span class="add">+{% extends &quot;template.html.include&quot; %}
</span><span class="def"> 
</span><span class="sub">-{% block title %}{% endblock %}
</span><span class="add">+{%- block title -%}
</span><span class="add">+gitserve - Index
</span><span class="add">+{%- endblock -%}
</span><span class="def"> 
</span><span class="def"> {% block body %}
</span><span class="def"> &lt;table id=&quot;head&quot;&gt;
</span><span class="sub">-	&lt;tr&gt;&lt;td width=&quot;32px&quot; rowspan=&quot;2&quot;&gt;&lt;a href=&quot;{{ host }}&quot;&gt;&lt;img src=&quot;{{ host }}/avatar.png&quot; id=&quot;avatar&quot;/&gt;&lt;/a&gt;&lt;/td&gt;
</span><span class="sub">-		&lt;td rowspan=&quot;2&quot;&gt;&lt;a href=&quot;{{ host }}&quot;&gt;{{ host }}&lt;/a&gt; / &lt;a href=&quot;{{ host }}&quot;&gt;code&lt;/a&gt;&lt;/td&gt;&lt;td class=&quot;link&quot;&gt;&lt;a href=&quot;{{ host }}/posts.html&quot;&gt;posts&lt;/a&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td class=&quot;link&quot;&gt;&lt;a href=&quot;{{ host }}/about.html&quot;&gt;about&lt;/a&gt;&lt;/td&gt;&lt;/tr&gt;
</span><span class="add">+  &lt;tr&gt;&lt;td width=&quot;32px&quot; rowspan=&quot;2&quot;&gt;&lt;a href=&quot;{{ host }}&quot;&gt;&lt;img src=&quot;{{ host }}/avatar.png&quot; id=&quot;avatar&quot;/&gt;&lt;/a&gt;&lt;/td&gt;
</span><span class="add">+    &lt;td rowspan=&quot;2&quot;&gt;&lt;a href=&quot;{{ host }}&quot;&gt;{{ host }}&lt;/a&gt; / &lt;a href=&quot;{{ host }}&quot;&gt;code&lt;/a&gt;&lt;/td&gt;&lt;td class=&quot;link&quot;&gt;&lt;a href=&quot;{{ host }}/posts.html&quot;&gt;posts&lt;/a&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td class=&quot;link&quot;&gt;&lt;a href=&quot;{{ host }}/about.html&quot;&gt;about&lt;/a&gt;&lt;/td&gt;&lt;/tr&gt;
</span><span class="def"> &lt;/table&gt;
</span><span class="def"> 
</span><span class="def"> &lt;hr&gt;
</span><span class="def"> 
</span><span class="def"> &lt;div id=&quot;content&quot;&gt;
</span><span class="sub">-	&lt;table id=&quot;index&quot;&gt;
</span><span class="sub">-		&lt;thead&gt;
</span><span class="sub">-			&lt;tr&gt;&lt;td&gt;&lt;b&gt;Name&lt;/b&gt;&lt;/td&gt;&lt;td&gt;&lt;b&gt;Description&lt;/b&gt;&lt;/td&gt;&lt;td&gt;&lt;b&gt;Last commit&lt;/b&gt;&lt;/td&gt;&lt;/tr&gt;
</span><span class="sub">-		&lt;/thead&gt;
</span><span class="add">+  &lt;table id=&quot;index&quot;&gt;
</span><span class="add">+    &lt;thead&gt;
</span><span class="add">+      &lt;tr&gt;&lt;td&gt;&lt;b&gt;Name&lt;/b&gt;&lt;/td&gt;&lt;td&gt;&lt;b&gt;Description&lt;/b&gt;&lt;/td&gt;&lt;td&gt;&lt;b&gt;Last commit&lt;/b&gt;&lt;/td&gt;&lt;/tr&gt;
</span><span class="add">+    &lt;/thead&gt;
</span><span class="def"> 
</span><span class="sub">-		&lt;tbody&gt;
</span><span class="sub">-			{% for repo in repositories %}
</span><span class="sub">-			&lt;tr&gt;&lt;td&gt;&lt;a href=&quot;{{ repo.name }}&quot;&gt;{{ repo.name }}&lt;/a&gt;&lt;/td&gt;&lt;td&gt;{{ repo.description }}&lt;/td&gt;&lt;td&gt;{{ repo.updated }}&lt;/td&gt;&lt;/tr&gt;
</span><span class="sub">-			{% endfor %}
</span><span class="sub">-		&lt;/tbody&gt;
</span><span class="sub">-	&lt;/table&gt;
</span><span class="add">+    &lt;tbody&gt;
</span><span class="add">+      {% for repo in repositories %}
</span><span class="add">+      &lt;tr&gt;&lt;td&gt;&lt;a href=&quot;{{ repo.name }}&quot;&gt;{{ repo.name }}&lt;/a&gt;&lt;/td&gt;&lt;td&gt;{{ repo.description }}&lt;/td&gt;&lt;td&gt;{{ repo.updated }}&lt;/td&gt;&lt;/tr&gt;
</span><span class="add">+      {% endfor %}
</span><span class="add">+    &lt;/tbody&gt;
</span><span class="add">+  &lt;/table&gt;
</span><span class="def"> &lt;/div&gt;
</span><span class="def"> {% endblock %}
</span></pre></div><div class="diff">
  <p>
    <b>templates/file.html</b>
    <span class="status">Modified</span>
  </p>

  @@ -1,37 +1,39 @@


  <pre><span class="sub">-{% include &quot;template.html.include&quot; %}
</span><span class="add">+{% extends &quot;template.html.include&quot; %}
</span><span class="def"> 
</span><span class="sub">-{% block title %}{{ file }}{% endblock %}
</span><span class="add">+{%- block title -%}
</span><span class="add">+{{ name }} - {{ file }}
</span><span class="add">+{%- endblock -%}
</span><span class="def"> 
</span><span class="def"> {% block body %}
</span><span class="def"> {% include &quot;repo-table-header.html.include&quot; %}
</span><span class="def"> 
</span><span class="def"> &lt;div id=&quot;content&quot;&gt;
</span><span class="sub">-	&lt;p&gt;{{ file }} {{ file.mode_symbolic }}&lt;/p&gt;&lt;hr&gt;
</span><span class="add">+  &lt;p&gt;{{ file }} {{ file.mode_symbolic }}&lt;/p&gt;&lt;hr&gt;
</span><span class="def"> 
</span><span class="def"> {% if file.is_directory %}
</span><span class="sub">-	&lt;table id=&quot;files&quot;&gt;
</span><span class="sub">-		&lt;thead&gt;
</span><span class="sub">-			&lt;tr&gt;
</span><span class="sub">-				&lt;td&gt;&lt;b&gt;Mode&lt;/b&gt;&lt;/td&gt;
</span><span class="sub">-				&lt;td&gt;&lt;b&gt;Name&lt;/b&gt;&lt;/td&gt;
</span><span class="sub">-			&lt;/tr&gt;
</span><span class="sub">-		&lt;/thead&gt;
</span><span class="add">+  &lt;table id=&quot;files&quot;&gt;
</span><span class="add">+    &lt;thead&gt;
</span><span class="add">+      &lt;tr&gt;
</span><span class="add">+        &lt;td&gt;&lt;b&gt;Mode&lt;/b&gt;&lt;/td&gt;
</span><span class="add">+        &lt;td&gt;&lt;b&gt;Name&lt;/b&gt;&lt;/td&gt;
</span><span class="add">+      &lt;/tr&gt;
</span><span class="add">+    &lt;/thead&gt;
</span><span class="def"> 
</span><span class="sub">-		&lt;tbody&gt;
</span><span class="sub">-			{% for child in file.contents %}
</span><span class="sub">-			&lt;tr&gt;
</span><span class="sub">-				&lt;td&gt;{{ child.mode_symbolic }}&lt;/td&gt;
</span><span class="sub">-				&lt;td&gt;&lt;a href=&quot;{{ host }}/{{ name }}/file/{{ child.href }}&quot;&gt;{{ child.path }}&lt;/a&gt;&lt;/td&gt;
</span><span class="sub">-			&lt;/tr&gt;
</span><span class="sub">-			{% endfor %}
</span><span class="sub">-		&lt;/tbody&gt;
</span><span class="sub">-	&lt;/table&gt;
</span><span class="add">+    &lt;tbody&gt;
</span><span class="add">+      {% for child in file.contents %}
</span><span class="add">+      &lt;tr&gt;
</span><span class="add">+        &lt;td&gt;{{ child.mode_symbolic }}&lt;/td&gt;
</span><span class="add">+        &lt;td&gt;&lt;a href=&quot;{{ host }}/{{ name }}/file/{{ child.href }}&quot;&gt;{{ child.path }}&lt;/a&gt;&lt;/td&gt;
</span><span class="add">+      &lt;/tr&gt;
</span><span class="add">+      {% endfor %}
</span><span class="add">+    &lt;/tbody&gt;
</span><span class="add">+  &lt;/table&gt;
</span><span class="def"> {% else %}
</span><span class="sub">-	&lt;pre id=&quot;blob&quot;&gt;
</span><span class="add">+  &lt;pre id=&quot;blob&quot;&gt;
</span><span class="def"> {% for line in split(file.contents, &apos;\n&apos;) %}
</span><span class="def"> &lt;a href=&quot;#l{{ loop.index }}&quot; class=&quot;line&quot; id=&quot;l{{ loop.index }}&quot;&gt;{{ printf(&quot;%7v&quot;, loop.index) }}&lt;/a&gt; {{ line }}
</span><span class="def"> {% endfor %}
</span><span class="def"> {% endif %}
</span><span class="sub">-	&lt;/pre&gt;
</span><span class="add">+  &lt;/pre&gt;
</span><span class="def"> &lt;/div&gt;
</span><span class="def"> {% endblock %}
</span></pre></div><div class="diff">
  <p>
    <b>templates/commit.html</b>
    <span class="status">Modified</span>
  </p>

  @@ -1,18 +1,20 @@


  <pre><span class="sub">-{% include &quot;template.html.include&quot; %}
</span><span class="add">+{% extends &quot;template.html.include&quot; %}
</span><span class="def"> 
</span><span class="sub">-{% block title %}{{ commit.title }}{% endblock %}
</span><span class="add">+{%- block title -%}
</span><span class="add">+{{ name }} - {{ commit.title }}
</span><span class="add">+{%- endblock -%}
</span><span class="def"> 
</span><span class="def"> {% block body %}
</span><span class="def"> {% include &quot;repo-table-header.html.include&quot; %}
</span><span class="def"> 
</span><span class="def"> &lt;div id=&quot;content&quot;&gt;
</span><span class="sub">-	&lt;pre&gt;&lt;b&gt;commit&lt;/b&gt; &lt;a href=&quot;{{ host }}/{{ name }}/commits/{{ commit.href }}&quot;&gt;{{ commit.id }}&lt;/a&gt;
</span><span class="sub">-	&lt;b&gt;Author:&lt;/b&gt; {{ commit.author }} &amp;lt;&lt;a href=&quot;mailto:{{ commit.author_email }}&quot;&gt;{{ commit.author_email }}&lt;/a&gt;&amp;gt;
</span><span class="sub">-	&lt;b&gt;Date:&lt;/b&gt; {{ commit.authored }}
</span><span class="sub">-	&lt;b&gt;Committer:&lt;/b&gt; {{ commit.committer }} &amp;lt;&lt;a href=&quot;mailto:{{ commit.committer_email }}&quot;&gt;{{ commit.committer_email }}&lt;/a&gt;&amp;gt;
</span><span class="sub">-	&lt;b&gt;Committed:&lt;/b&gt; {{ commit.committed }}
</span><span class="add">+  &lt;pre&gt;&lt;b&gt;commit&lt;/b&gt; &lt;a href=&quot;{{ host }}/{{ name }}/commit/{{ commit.id }}.html&quot;&gt;{{ commit.id }}&lt;/a&gt;
</span><span class="add">+&lt;b&gt;Author:&lt;/b&gt; {{ commit.author }} &amp;lt;&lt;a href=&quot;mailto:{{ commit.author_email }}&quot;&gt;{{ commit.author_email }}&lt;/a&gt;&amp;gt;
</span><span class="add">+&lt;b&gt;Date:&lt;/b&gt; {{ commit.authored }}
</span><span class="add">+&lt;b&gt;Committer:&lt;/b&gt; {{ commit.committer }} &amp;lt;&lt;a href=&quot;mailto:{{ commit.committer_email }}&quot;&gt;{{ commit.committer_email }}&lt;/a&gt;&amp;gt;
</span><span class="add">+&lt;b&gt;Committed:&lt;/b&gt; {{ commit.committed }}
</span><span class="def"> 
</span><span class="sub">-	{{ commit.message }}
</span><span class="sub">-	&lt;/pre&gt;
</span><span class="add">+{{ commit.message }}
</span><span class="add">+&lt;/pre&gt;
</span><span class="def"> &lt;/div&gt;
</span><span class="def"> {% endblock %}
</span></pre></div>    </div>
  </body>
</html>
