<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>🐙 gitja - Remove comment on ginger includeResolver about caching</title>
    <link rel="stylesheet" type="text/css" href="https://gitja.mcol.xyz/style.css"/>
    <link rel="icon" type="image/png" href="https://gitja.mcol.xyz/favicon.png"/>
  </head>

  <body>
    <a id="heada" href="https://gitja.mcol.xyz">
      <header>
        <h1 id="title">gitja</h1>
        <h2 id="desc">🐙 Templated web page generator for your git repositories</h2>
      </header>
    </a>

    <div id="nav">
      <span id="url">git clone <a href="https://github.com/m-col/gitja">https://github.com/m-col/gitja</a></span>

      <span id="links">
        <a href="https://gitja.mcol.xyz">Home</a> |
        <a href="https://gitja.mcol.xyz/gitja/log.html">Log</a> |
        <a href="https://gitja.mcol.xyz/gitja/tree.html">Files</a> |
        <a href="https://gitja.mcol.xyz/gitja/refs.html">Refs</a> |
        <a href="https://gitja.mcol.xyz/gitja/file/README.rst.html">Readme</a> |
        <a href="https://gitja.mcol.xyz/gitja/file/LICENSE.html">License</a>
      </span>

      <p id="tag">
        Docs built @ <a href="https://gitja.mcol.xyz/gitja/commit/301db50959861248665a050dd147689b0af475d5.html">301db50</a>
      </p>
    </div>

    <div id="content">
      <pre><b>Commit</b> <a href="https://gitja.mcol.xyz/gitja/commit/89f0b82c2b06a7ffa5865a78b99aa1f96f3d7660.html">89f0b82c2b06a7ffa5865a78b99aa1f96f3d7660</a>
<b>Parent:</b> <a href="https://gitja.mcol.xyz/gitja/commit/0a18f38bb5c398bd192a6268281fc6abefaedd63.html">0a18f38bb5c398bd192a6268281fc6abefaedd63</a>
<b>Author:</b> mcol &lt;<a href="mailto:mcol@posteo.net">mcol@posteo.net</a>&gt;
<b>Date:</b> 2021-11-21 17:39:15 +0000
<b>Committer:</b> mcol &lt;<a href="mailto:mcol@posteo.net">mcol@posteo.net</a>&gt;
<b>Committed:</b> 2021-11-21 17:39:15 +0000

Remove comment on ginger includeResolver about caching
</pre><div class="diff">
  <p>
    <b>templates/repo-table-header.html.include</b>
    <span class="status">Added</span>
  </p>

  @@ -0,0 +1,23 @@


  <pre><span class="add">+&lt;table id=&quot;head&quot;&gt;
</span><span class="add">+  &lt;tr&gt;
</span><span class="add">+    &lt;td width=&quot;32px&quot; rowspan=&quot;2&quot;&gt;&lt;a href=&quot;{{ host }}&quot;&gt;&lt;img src=&quot;{{ host }}/avatar.png&quot; id=&quot;avatar&quot;/&gt;&lt;/a&gt;&lt;/td&gt;
</span><span class="add">+    &lt;td rowspan=&quot;2&quot;&gt;&lt;a href=&quot;{{ host }}&quot;&gt;{{ host }}&lt;/a&gt; / &lt;a href=&quot;{{ host }}/code&quot;&gt;code&lt;/a&gt; / &lt;a href=&quot;{{ host }}/code/{{ name }}&quot;&gt;{{ name }}&lt;/a&gt;&lt;/td&gt;
</span><span class="add">+    &lt;td class=&quot;link&quot;&gt;&lt;a href=&quot;{{ host }}/posts.html&quot;&gt;posts&lt;/a&gt;&lt;/td&gt;
</span><span class="add">+  &lt;/tr&gt;
</span><span class="add">+  &lt;tr&gt;
</span><span class="add">+    &lt;td class=&quot;link&quot;&gt;&lt;a href=&quot;{{ host }}/about.html&quot;&gt;about&lt;/a&gt;&lt;/td&gt;
</span><span class="add">+  &lt;/tr&gt;
</span><span class="add">+&lt;/table&gt;
</span><span class="add">+&lt;hr&gt;
</span><span class="add">+
</span><span class="add">+&lt;table&gt;
</span><span class="add">+  &lt;tr&gt;&lt;td&gt;&lt;span class=&quot;desc&quot;&gt;{{ description }}&lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;
</span><span class="add">+  &lt;tr class=&quot;url&quot;&gt;&lt;td&gt;git clone &lt;href=&quot;{{ host }}/code/{{ name }}&quot;&gt;{{ host }}/code/{{ name }}&lt;/a&gt;&lt;/td&gt;&lt;/tr&gt;
</span><span class="add">+  &lt;tr&gt;&lt;td&gt;
</span><span class="add">+    &lt;a href=&quot;tree.html&quot;&gt;Files&lt;/a&gt; | &lt;a href=&quot;refs.html&quot;&gt;Refs&lt;/a&gt;
</span><span class="add">+    {% if readme %} | &lt;a href=&quot;{{ readme.href }}&quot;&gt;Readme&lt;/a&gt;&lt;/td&gt;{% endif %}
</span><span class="add">+    %{ if license %} | &lt;a href=&quot;{{ license.href }}&quot;&gt;License&lt;/a&gt;{% endif %}
</span><span class="add">+  &lt;/td&gt;&lt;/tr&gt;
</span><span class="add">+&lt;/table&gt;
</span><span class="add">+&lt;hr&gt;
</span><span class="add">+
</span></pre></div><div class="diff">
  <p>
    <b>templates/refs.html</b>
    <span class="status">Added</span>
  </p>

  @@ -0,0 +1,43 @@


  <pre><span class="add">+&lt;!doctype html&gt;
</span><span class="add">+&lt;html lang=&quot;en&quot;&gt;
</span><span class="add">+  &lt;head&gt;
</span><span class="add">+    &lt;meta charset=&quot;utf-8&quot;&gt;
</span><span class="add">+    &lt;meta http-equiv=&quot;x-ua-compatible&quot; content=&quot;ie=edge&quot;&gt;
</span><span class="add">+    &lt;meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1&quot;&gt;
</span><span class="add">+		&lt;title&gt;Refs - {{ name }} - {{ description }}&lt;/title&gt;
</span><span class="add">+    &lt;link rel=&quot;stylesheet&quot; type=&quot;text/css&quot; href=&quot;{{ host }}/style.css&quot; /&gt;
</span><span class="add">+    &lt;link rel=&quot;icon&quot; type=&quot;image/png&quot; href=&quot;/favicon.png&quot; /&gt;
</span><span class="add">+  &lt;/head&gt;
</span><span class="add">+
</span><span class="add">+  &lt;body&gt;
</span><span class="add">+    {% include repo-table-header.html.include %}
</span><span class="add">+
</span><span class="add">+    &lt;div id=&quot;content&quot;&gt;
</span><span class="add">+			&lt;h2&gt;Branches&lt;/h2&gt;
</span><span class="add">+			&lt;table id=&quot;branches&quot;&gt;
</span><span class="add">+				&lt;thead&gt;
</span><span class="add">+					&lt;tr&gt;&lt;td&gt;&lt;b&gt;Name&lt;/b&gt;&lt;/td&gt;&lt;td&gt;&lt;b&gt;Last commit date&lt;/b&gt;&lt;/td&gt;&lt;td&gt;&lt;b&gt;Last commit&lt;/b&gt;&lt;/td&gt;&lt;td&gt;&lt;b&gt;Author&lt;/b&gt;&lt;/td&gt;&lt;/tr&gt;
</span><span class="add">+				&lt;/thead&gt;
</span><span class="add">+				&lt;tbody&gt;
</span><span class="add">+					{% for branch in branches %}
</span><span class="add">+					&lt;tr&gt;&lt;td&gt;{{ branch.name }}&lt;/td&gt;&lt;td&gt;{{ branch.authored }}&lt;/td&gt;&lt;td&gt;{{ branch.title }}&lt;/td&gt;&lt;td&gt;{{ branch.author }}&lt;/td&gt;&lt;/tr&gt;
</span><span class="add">+					{% endfor %}
</span><span class="add">+				&lt;/tbody&gt;
</span><span class="add">+			&lt;/table&gt;
</span><span class="add">+
</span><span class="add">+			&lt;br&gt;
</span><span class="add">+
</span><span class="add">+			&lt;h2&gt;Tags&lt;/h2&gt;
</span><span class="add">+			&lt;table id=&quot;tags&quot;&gt;
</span><span class="add">+				&lt;thead&gt;
</span><span class="add">+					&lt;tr&gt;&lt;td&gt;&lt;b&gt;Name&lt;/b&gt;&lt;/td&gt;&lt;td&gt;&lt;b&gt;Last commit date&lt;/b&gt;&lt;/td&gt;&lt;td&gt;&lt;b&gt;Last commit&lt;/b&gt;&lt;/td&gt;&lt;td&gt;&lt;b&gt;Author&lt;/b&gt;&lt;/td&gt;&lt;/tr&gt;
</span><span class="add">+				&lt;/thead&gt;
</span><span class="add">+				&lt;tbody&gt;
</span><span class="add">+					{% for tag in tags %}
</span><span class="add">+					&lt;tr&gt;&lt;td&gt;{{ tag.name }}&lt;/td&gt;&lt;td&gt;{{ tag.authored }}&lt;/td&gt;&lt;td&gt;{{ tag.title }}&lt;/td&gt;&lt;td&gt;{{ tag.author }}&lt;/td&gt;&lt;/tr&gt;
</span><span class="add">+					{% endfor %}
</span><span class="add">+				&lt;/tbody&gt;
</span><span class="add">+			&lt;/table&gt;
</span><span class="add">+    &lt;/div&gt;
</span><span class="add">+  &lt;/body&gt;
</span><span class="add">+&lt;/html&gt;
</span></pre></div><div class="diff">
  <p>
    <b>templates/index-main.html</b>
    <span class="status">Modified</span>
  </p>

  @@ -4,16 +4,30 @@


  <pre><span class="def">     &lt;meta charset=&quot;utf-8&quot;&gt;
</span><span class="def">     &lt;meta http-equiv=&quot;x-ua-compatible&quot; content=&quot;ie=edge&quot;&gt;
</span><span class="def">     &lt;meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1&quot;&gt;
</span><span class="sub">-    &lt;title&gt;gitserve&lt;/title&gt;
</span><span class="sub">-    &lt;link rel=&quot;stylesheet&quot; href=&quot;{{- host }}/style.css&quot; /&gt;
</span><span class="add">+    &lt;title&gt;{{ host }} / code&lt;/title&gt;
</span><span class="add">+    &lt;link rel=&quot;stylesheet&quot; type=&quot;text/css&quot; href=&quot;{{ host }}/style.css&quot; /&gt;
</span><span class="add">+    &lt;link rel=&quot;icon&quot; type=&quot;image/png&quot; href=&quot;/favicon.png&quot; /&gt;
</span><span class="def">   &lt;/head&gt;
</span><span class="def"> 
</span><span class="def">   &lt;body&gt;
</span><span class="sub">-    &lt;p&gt;gitserve&lt;/p&gt;
</span><span class="add">+    &lt;table id=&quot;head&quot;&gt;
</span><span class="add">+			&lt;tr&gt;&lt;td width=&quot;32px&quot; rowspan=&quot;2&quot;&gt;&lt;a href=&quot;{{ host }}&quot;&gt;&lt;img src=&quot;/avatar.png&quot; id=&quot;avatar&quot;/&gt;&lt;/a&gt;&lt;/td&gt;
</span><span class="add">+      &lt;td rowspan=&quot;2&quot;&gt;&lt;a href=&quot;/&quot;&gt;{{ host }}&lt;/a&gt; / &lt;a href=&quot;/code&quot;&gt;code&lt;/a&gt;&lt;/td&gt;&lt;td class=&quot;link&quot;&gt;&lt;a href=&quot;/posts.html&quot;&gt;posts&lt;/a&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td class=&quot;link&quot;&gt;&lt;a href=&quot;/about.html&quot;&gt;about&lt;/a&gt;&lt;/td&gt;&lt;/tr&gt;
</span><span class="add">+    &lt;/table&gt;
</span><span class="add">+
</span><span class="def">     &lt;hr&gt;
</span><span class="sub">-		&lt;p&gt;My git repositories - {{ host }}&lt;/p&gt;
</span><span class="sub">-    {% for repo in repositories %}
</span><span class="sub">-		&lt;p&gt;&lt;a href=&quot;{{- host }}/{{- repo.name }}&quot;&gt;{{- repo.name }}&lt;/a&gt; -- {{ repo.description }}&lt;/p&gt;
</span><span class="sub">-    {% endfor %}
</span><span class="add">+
</span><span class="add">+    &lt;div id=&quot;content&quot;&gt;
</span><span class="add">+      &lt;table id=&quot;index&quot;&gt;
</span><span class="add">+        &lt;thead&gt;
</span><span class="add">+          &lt;tr&gt;&lt;td&gt;Name&lt;/b&gt;&lt;/td&gt;&lt;b&gt;Description&lt;/b&gt;&lt;/td&gt;&lt;td&gt;&lt;b&gt;Last commit&lt;/b&gt;&lt;/td&gt;&lt;/tr&gt;
</span><span class="add">+        &lt;/thead&gt;
</span><span class="add">+        &lt;tbody&gt;
</span><span class="add">+          {% for repo in repositories %}
</span><span class="add">+          &lt;tr&gt;&lt;td&gt;&lt;a href=&quot;{{ repo.name }}&quot;&gt;{{ repo.name }}&lt;/a&gt;&lt;/td&gt;&lt;td&gt;{{ repo.description }}&lt;/td&gt;&lt;td&gt;{{ repo.updated }}&lt;/td&gt;&lt;/tr&gt;
</span><span class="add">+          {% endfor %}
</span><span class="add">+        &lt;/tbody&gt;
</span><span class="add">+      &lt;/table&gt;
</span><span class="add">+    &lt;/div&gt;
</span><span class="def">   &lt;/body&gt;
</span><span class="def"> &lt;/html&gt;
</span></pre></div><div class="diff">
  <p>
    <b>src/Templates.hs</b>
    <span class="status">Modified</span>
  </p>

  @@ -107,8 +107,7 @@


  <pre><span class="def">             return Nothing
</span><span class="def"> 
</span><span class="def"> {-
</span><span class="sub">-This is a Ginger `IncludeResolver` that will eventually be extended to enable caching of
</span><span class="sub">-includes.
</span><span class="add">+This resolves Ginger&apos;s template includes.
</span><span class="def"> -}
</span><span class="def"> includeResolver :: FilePath -&gt; IO (Maybe String)
</span><span class="def"> includeResolver path = either (const Nothing) Just &lt;$&gt; tryIOError (readFile path)
</span></pre></div>    </div>
  </body>
</html>
