<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>🐙 gitja - Remove unnecessary meta tag from template</title>
    <link rel="stylesheet" type="text/css" href="https://gitja.mcol.xyz/style.css"/>
    <link rel="icon" type="image/png" href="https://gitja.mcol.xyz/favicon.png"/>
  </head>

  <body>
    <a id="heada" href="https://gitja.mcol.xyz">
      <header>
        <h1 id="title">gitja</h1>
        <h2 id="desc">🐙 Templated web page generator for your git repositories</h2>
      </header>
    </a>

    <div id="nav">
      <span id="url">git clone <a href="https://github.com/m-col/gitja">https://github.com/m-col/gitja</a></span>

      <span id="links">
        <a href="https://gitja.mcol.xyz">Home</a> |
        <a href="https://gitja.mcol.xyz/gitja/log.html">Log</a> |
        <a href="https://gitja.mcol.xyz/gitja/tree.html">Files</a> |
        <a href="https://gitja.mcol.xyz/gitja/refs.html">Refs</a> |
        <a href="https://gitja.mcol.xyz/gitja/file/README.rst.html">Readme</a> |
        <a href="https://gitja.mcol.xyz/gitja/file/LICENSE.html">License</a>
      </span>

      <p id="tag">
        Docs built @ <a href="https://gitja.mcol.xyz/gitja/commit/82d8bb4a843c40aad1997e49a8917f3de93676ef.html">82d8bb4</a>
      </p>
    </div>

    <div id="content">
      <pre><b>Commit</b> <a href="https://gitja.mcol.xyz/gitja/commit/ea59d71188bc5b580c8262045a1297f21247b0cf.html">ea59d71188bc5b580c8262045a1297f21247b0cf</a>
<b>Parent:</b> <a href="https://gitja.mcol.xyz/gitja/commit/25334538117daefd9563ea41e54aa042f63c85b1.html">25334538117daefd9563ea41e54aa042f63c85b1</a>
<b>Author:</b> mcol &lt;<a href="mailto:mcol@posteo.net">mcol@posteo.net</a>&gt;
<b>Date:</b> 2021-11-30 23:19:48 +0000
<b>Committer:</b> mcol &lt;<a href="mailto:mcol@posteo.net">mcol@posteo.net</a>&gt;
<b>Committed:</b> 2021-11-30 23:19:48 +0000

Remove unnecessary meta tag from template
</pre><div class="diff">
  <p>
    <b>templates/docs/template.html.include</b>
    <span class="status">Modified</span>
  </p>

  @@ -2,11 +2,10 @@


  <pre><span class="def"> &lt;html lang=&quot;en&quot;&gt;
</span><span class="def">   &lt;head&gt;
</span><span class="def">     &lt;meta charset=&quot;utf-8&quot;&gt;
</span><span class="sub">-    &lt;meta http-equiv=&quot;x-ua-compatible&quot; content=&quot;ie=edge&quot;&gt;
</span><span class="def">     &lt;meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1&quot;&gt;
</span><span class="def">     &lt;title&gt;🐙 {{ name }} - {% block title %}{% endblock %}&lt;/title&gt;
</span><span class="def">     &lt;link rel=&quot;stylesheet&quot; type=&quot;text/css&quot; href=&quot;{{ host }}/style.css&quot;/&gt;
</span><span class="sub">-    &lt;link rel=&quot;icon&quot; type=&quot;image/png&quot; href=&quot;/favicon.png&quot;/&gt;
</span><span class="add">+    &lt;link rel=&quot;icon&quot; type=&quot;image/png&quot; href=&quot;{{ host }}/favicon.png&quot;/&gt;
</span><span class="def">   &lt;/head&gt;
</span><span class="def"> 
</span><span class="def">   &lt;body&gt;
</span></pre></div><div class="diff">
  <p>
    <b>templates/base/template.html.include</b>
    <span class="status">Added</span>
  </p>

  @@ -0,0 +1,20 @@


  <pre><span class="add">+{#-
</span><span class="add">+This file is being used as a base template by all other files.
</span><span class="add">+
</span><span class="add">+They just need to define a &apos;title&apos; block and a &apos;body&apos; block.
</span><span class="add">+-#}
</span><span class="add">+
</span><span class="add">+&lt;!doctype html&gt;
</span><span class="add">+&lt;html&gt;
</span><span class="add">+  &lt;head&gt;
</span><span class="add">+    &lt;meta charset=&quot;utf-8&quot;&gt;
</span><span class="add">+    &lt;title&gt;{% block title %}{% endblock %}&lt;/title&gt;
</span><span class="add">+    &lt;meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1&quot;&gt;
</span><span class="add">+    &lt;link rel=&quot;stylesheet&quot; type=&quot;text/css&quot; href=&quot;{{ host }}/style.css&quot;/&gt;
</span><span class="add">+  &lt;/head&gt;
</span><span class="add">+
</span><span class="add">+  &lt;body&gt;
</span><span class="add">+  {% block body %}
</span><span class="add">+  {% endblock %}
</span><span class="add">+  &lt;/body&gt;
</span><span class="add">+&lt;/html&gt;
</span></pre></div><div class="diff">
  <p>
    <b>templates/base/style.css</b>
    <span class="status">Modified</span>
  </p>

  @@ -1 +1,18 @@


  <pre><span class="sub">-TODO
</span><span class="add">+/*
</span><span class="add">+Static assets are copied unchanged into the output folder. This includes
</span><span class="add">+everything in this top-level folder that is not one of:
</span><span class="add">+
</span><span class="add">+- A folder named &quot;repo&quot;.
</span><span class="add">+- A regular file ending in &quot;.html&quot;.
</span><span class="add">+- A regular file ending in &quot;.include&quot;.
</span><span class="add">+
</span><span class="add">+*/
</span><span class="add">+
</span><span class="add">+@viewport {
</span><span class="add">+    width: device-width;
</span><span class="add">+    zoom: 1.0;
</span><span class="add">+}
</span><span class="add">+
</span><span class="add">+html {
</span><span class="add">+    font-size: 1em;
</span><span class="add">+}
</span></pre></div>    </div>
  </body>
</html>
