<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ name }} -- {{ file }}</title>
    <link rel="stylesheet" href="{{ host }}/style.css" />
  </head>

  <body>
    <p><a href="{{ host }}">{{ host }} -- gitserve</a></p>
    <hr>
    <p><a href="{{ host }}/{{ name }}">{{ name }}</a></p>
    <p>{{ description }}</p>
    <hr>
    <p>{{ file.mode }} <b>{{ file.path }}</b></p>
    <hr>

{% if file.is_directory %}
    <table>
{% for item in file.contents %}
      <tr><a href="{{ host }}/{{ name }}/file/{{ file }}.{{ item }}.html">{{ item }}</a></tr>
{% endfor %}
    </table>

{% else %}
<pre>
{% for line in split(file.contents, '\n') %}
<a href="#l{{ loop.index }}" id="l{{ loop.index }}">{{ printf("%7v", loop.index) }}</a> {{ line }}
{% endfor %}
</pre>
{% endif %}

    <hr>
  </body>
</html>
