<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ name }} - {{ description }}</title>
    <link rel="stylesheet" type="text/css" href="{{ host }}/style.css" />
    <link rel="icon" type="image/png" href="/favicon.png" />
  </head>

  <body>
    {% include "repo-table-header.html.include" %}

    <div id="content">
      <table id="log">
        <thead>
          <tr>
            <td><b>Date</b></td>
            <td><b>Commit message</b></td>
            <td><b>Author</b></td>
          </tr>
        </thead>

        <tbody>
          {% for commit in commits[:50] %}
          <tr><td>{{ commit.authored[:16] }}</td><td><a href="commits/{{ commit.id }}.html">{{ commit.title }}</a></td><td>{{ commit.author }}</td></tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
