<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ name }}</title>
    <link rel="stylesheet" href="{{- host }}/style.css" />
  </head>

  <body>
    <p>{{- name }}</p>
    <hr>
    <p>{{- description }}</p>
    <p>git clone {{ host }}/{{- name }}</p>
		<p><a href="./log.html">Log</a></p>
		<p><a href="./tree.html">Tree</a></p>
		<p><a href="./tags.html">Tags</a></p>
		<p><a href="./branches.html">Branches</a></p>
		{% if license %}
		<p><a href="{{ host }}/{{ name }}/file/{{ license.href }}">License</a></p>
		{% endif %}
		{% if readme %}
		<p><a href="{{ host }}/{{ name }}/file/{{ readme.href }}">Readme</a></p>
		<pre>
		{{ readme.contents }}
		</pre>
		{% endif %}
  </body>
</html>
