<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ name }} -- log</title>
    <link rel="stylesheet" href="{{- host }}/style.css" />
  </head>

  <body>
    <p>{{- name }}</p>
    <hr>
    <p>{{- description }}</p>
    <p>git clone {{ host }}/{{- name }}</p>
    {% for commit in commits[:50] %}
    <p><b><a href="{{ host }}/{{ name }}/commits/{{ commit.id }}.html">{{ commit.id[:7] }}</a></b> {{ commit.title }}</p>
    {% endfor %}
  </body>
</html>
