<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Refs - {{ name }} - {{ description }}</title>
    <link rel="stylesheet" type="text/css" href="{{ host }}/style.css" />
    <link rel="icon" type="image/png" href="/favicon.png" />
  </head>

  <body>
    {% include  "repo-table-header.html.include" %}

    <div id="content">
      <h2>Branches</h2>
      <table id="branches">
        <thead>
          <tr><td><b>Name</b></td><td><b>Last commit date</b></td><td><b>Last commit</b></td><td><b>Author</b></td></tr>
        </thead>
        <tbody>
          {% for branch in branches %}
          <tr><td>{{ branch.name }}</td><td>{{ branch.authored }}</td><td>{{ branch.title }}</td><td>{{ branch.author }}</td></tr>
          {% endfor %}
        </tbody>
      </table>

      <br>

      <h2>Tags</h2>
      <table id="tags">
        <thead>
          <tr><td><b>Name</b></td><td><b>Last commit date</b></td><td><b>Last commit</b></td><td><b>Author</b></td></tr>
        </thead>
        <tbody>
          {% for tag in tags %}
          <tr><td>{{ tag.name }}</td><td>{{ tag.authored }}</td><td>{{ tag.title }}</td><td>{{ tag.author }}</td></tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
