<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ name }} -- tree</title>
    <link rel="stylesheet" href="{{- host }}/style.css" />
  </head>

  <body>
    <p>{{- name }}</p>
    <hr>
    <p>{{- description }}</p>
    <p>git clone {{ host }}/{{- name }}</p>
    {% for file in tree %}
		<p><a href="{{ host }}/{{ name }}/files/{{ file.href }}">{{- file.path }}</a></p>
    {% endfor %}
  </body>
</html>
