{% extends "../template.html.include" %}

{%- block title %}{{ name }} - {{ file }}{% endblock %}

{%- block content %}
<p>{{ file.mode_symbolic }} {{ file }}</p><hr>

{% if file.is_directory %}
<table>
  <thead>
    <tr>
      <td><b>Mode</b></td>
      <td><b>Name</b></td>
    </tr>
  </thead>

  <tbody>
    {% for child in file.tree %}
    <tr>
      <td>{{ child.mode_symbolic }}</td>
      <td><a href="{{ host }}/{{ name }}/file/{{ child.href }}">{{ child.path }}</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
  {% if file.is_binary %}
  (File is binary)
  {% else %}
<pre>{% for line in split(file.contents, '\n') %}
<a href="#l{{ loop.index }}" class="line" id="l{{ loop.index }}">{{ printf("%5v", loop.index) }}</a>  {{ line }}
{% endfor %}</pre>
{% endif %}
{% endif %}
{% endblock %}
